################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WEBDONGGOI/FileContentIndex/4be4c8f7-12f1-4748-9533-6bca8bf54134.vsidx
*.vsidx
/.vs/WEBDONGGOI/FileContentIndex/9733272e-cbf0-46d4-918d-1877bb6c1575.vsidx
/.vs/WEBDONGGOI/FileContentIndex/9733272e-cbf0-46d4-918d-1877bb6c1575.vsidx
/.vs/WEBDONGGOI/FileContentIndex/9733272e-cbf0-46d4-918d-1877bb6c1575.vsidx
